<html >
	<head>
   		 <title>suse</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	</head>
	<body>
	<h1>add new user details</h1>
		<form action="" method="post">
  			 <label>Name:</label>
  			 <input type="text" name="name" required>
  			 <label>Age:</label>
			<input type="text" name="age" required>
		                   <label>City:</label>
		                   <input type="text" name="city" required>
    			<input type="submit" value="save details">
		</form>
	</body>
</html>
