<html >
	<head>
   		 <title>suse</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	</head>
	<body>
	<h1>update user details</h1>
		<form action=' ' method='post'>
  			 <label>Name:</label>
  			 <input type="text" name="name" value="{{datas.NAME}}" required>
  			 <label>Age:</label>
			<input type="text" name="age" value="{{datas.AGE}}" required>
		                   <label>City:</label>
		                   <input type="text" name="city" value="{{datas.CITY}}" required>
    			<input type="submit" value="update details">
		</form>
	</body>
</html>
