<html>
	<head>
		<title>Susenthrakumar flask project</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	</head>
	<body>
		<h1>User Managment Using Python Flask & MySQL</h1>	
		<p><a href="{{url_for("addusers")}}">Add users</a></p>
		<table>
			<tr>
			        <th>ID</th>
			        <th>NAME</th>
			        <th>AGE</th>
			        <th>CITY</th>
			        <th>EDIT</th>
			        <th>DELETE</th>
			</tr>
			{% for data in datas %}
				<tr>
					<td>{{data.ID}}</td>
					<td>{{data.NAME}}</td>
					<td>{{data.AGE}}</td>
					<td>{{data.CITY}}</td>
					<td><a href="{{url_for('edituser',id=data.ID)}}">Edit</a></td>
					<td><a onclick="return confirm('are you sure to delete?');" href="{{url_for('deleteuser',id=data.ID)}}">Delete</a></td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>